*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;
    color:white;

    font-family:
        "Yu Gothic UI",
        sans-serif;

}

.container{

    max-width:1200px;

    margin:auto;

    padding:20px;

}

h1{

    text-align:center;

    margin-bottom:5px;

}

.version{

    text-align:center;

    color:#999;

    margin-bottom:25px;

}

.card{

    background:#1f1f1f;

    padding:20px;

    border-radius:12px;

    margin-bottom:20px;

}

.card h2{

    margin-bottom:15px;

}

#preview{

    width:100%;

    display:none;

    border-radius:10px;

}

#result{

    position: fixed;

    top: 10px;
    right: 10px;

    width: 180px;

    background: rgba(0,0,0,0.85);

    color:#FFD54F;

    padding:10px;

    border-radius:8px;

    font-size:16px;

    line-height:1.5;

    z-index:1000;

}
.crop-area{

    display:grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: auto auto auto;

    gap:15px;

    text-align:center;

}


/* 配置 */

.crop-area > div:nth-child(1){
    grid-column:1;
    grid-row:2;
}
/* 西 */


.crop-area > div:nth-child(2){
    grid-column:2;
    grid-row:1;
}
/* 北 */


.crop-area > div:nth-child(3){
    grid-column:2;
    grid-row:2;
}
/* 中央 */


.crop-area > div:nth-child(4){
    grid-column:2;
    grid-row:3;
}
/* 南 */


.crop-area > div:nth-child(5){
    grid-column:3;
    grid-row:2;
}
/* 東 */


.crop-area canvas{

    width:100%;

    max-width:220px;

}
